/* Inter */
@font-face {
  font-family: "Inter";
  src:
    url("./../fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("./../fonts/inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("./../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("./../fonts/inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("./../fonts/inter/Inter-SemiBold.woff2") format("woff2"),
    url("./../fonts/inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("./../fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("./../fonts/inter/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Syne */

@font-face {
  font-family: "Syne";
  src:
    url("./../fonts/syne/Syne-Regular.woff2") format("woff2"),
    url("./../fonts/syne/Syne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src:
    url("./../fonts/syne/Syne-SemiBold.woff2") format("woff2"),
    url("./../fonts/syne/Syne-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src:
    url("./../fonts/syne/Syne-Medium.woff2") format("woff2"),
    url("./../fonts/syne/Syne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src:
    url("./../fonts/syne/Syne-Bold.woff2") format("woff2"),
    url("./../fonts/syne/Syne-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Sharp Grotesk */

@font-face {
  font-family: "Sharp Grotesk";
  src:
    url("./../fonts/sharp-grotesk/SharpGrotesk-Book20.woff2") format("woff2"),
    url("./../fonts/sharp-grotesk/SharpGrotesk-Book20.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sharp Grotesk";
  src:
    url("./../fonts/sharp-grotesk/SharpGrotesk-Medium20.woff2") format("woff2"),
    url("./../fonts/sharp-grotesk/SharpGrotesk-Medium20.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
